//  Start Brands 
section.bg-light.py-5
  .container.my-4
    .row.text-center.py-3
      .col-lg-6.m-auto
        h1.h1 Our Brands
        p.
          
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
          
      .col-lg-9.m-auto.zay-carousel
        .row.d-flex.flex-row
          // Controls
          .col-1.align-self-center
            a.h1(href="#zay-slide-brand", role="button", data-bs-slide="prev")
              i.text-light.fas.fa-chevron-left
          // End Controls
          // Carousel Wrapper
          .col
            .carousel.slide.carousel-multi-item.pt-2.pt-md-0#zay-slide-brand(data-bs-ride="carousel")
              // Slides
              .carousel-inner.product-links-wap(role="listbox")
                // First slide
                .carousel-item
                  .row
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_01.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_02.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_03.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_04.png", alt="Brand Logo")
                // End First slide
                // Second slide
                .carousel-item
                  .row
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_01.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_02.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_03.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_04.png", alt="Brand Logo")
                // End Second slide
                // Third slide
                .carousel-item.active
                  .row
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_01.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_02.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_03.png", alt="Brand Logo")
                    .col-3.p-md-5
                      a(href="#")
                        img.img-fluid.brand-img(src="./images/brand_04.png", alt="Brand Logo")
                // End Third slide
              // End Slides
          // End Carousel Wrapper
          // Controls
          .col-1.align-self-center
            a.h1(href="#zay-slide-brand", role="button", data-bs-slide="next")
              i.text-light.fas.fa-chevron-right
          // End Controls
// End Brands
