//Fonts
$main-font: "Roboto", sans-serif;
//Colors
$main-color: #aa4285;
$text-light: #cfd6e1;
$bg-dark: #212934;
$bg-light: #ebebeb;
$bg-black: #1d242d;
$nav-color: #1d242d;
$border-color: #2d343f;
$footer-color:#dcdde1;

//decorations
$link-hover-decoration: underline;
